[bumpversion]
current_version = 0.1.1
commit = False
tag = False

[bumpversion:file:pyproject.toml]
[bumpversion:file:monetdb_pystethoscope/__init__.py]
[bumpversion:file:docs/source/conf.py]
[bumpversion:file:tests/test_monetdb_profiler_tools.py]
