[tool.poetry]
name = "monetdb_pystethoscope"
version = "0.1.0"
description = "MonetDB profiler connection tool"
readme = "README.rst"
authors = ["Panagiotis Koutsourakis <kutsurak@monetdbsolutions.com>"]
repository = "https://github.com/MonetDBSolutions/monetdb-pystethoscope"

[tool.poetry.dependencies]
python = "^3.6"
click = "^7.0"
pymonetdb = "^1.3.1"
# funcy = "^1.13"

[tool.poetry.dev-dependencies]
pytest = "^3.0"
pytest-runner = "^5.2"
tox = "^3.14"
flake8 = "^3.7"
coverage = "^4.5"
rope = "^0.14.0"
pyflakes = "^2.1"
mccabe = "^0.6.1"
pycodestyle = "^2.5"
pydocstyle = "^4.0"
yapf = "^0.28.0"
python-language-server = {version = "^0.30.0", extras = ["all"]}
ipython = "^7.11.1"
sphinx = "^3.0.3"

[tool.poetry.scripts]
pystethoscope = 'monetdb_pystethoscope.stethoscope:stethoscope'

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
